.resources__logo_internet-resources_medium {
    background-image: url(../../../../../images/logo/resources-Medium.png);
    transition-property: opacity;
    transition-duration: 1s;
    transition-timing-function: linear;
}

.resources__logo_internet-resources_medium:hover {
    opacity: 0.5;
}