.resources__logo_internet-resources_ted-ed {
    background-image: url(../../../../../images/logo/resources-tedED.png);
    transition-property: opacity;
    transition-duration: 1s;
    transition-timing-function: linear;
}

.resources__logo_internet-resources_ted-ed:hover {
    opacity: 0.5;
}