.oakley {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-content: flex-start;
    background-color: #F2F2F2;
    padding-top: 160px;
}

/*margin-top: -60px;*/